/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.clear{
	clear:both;
}
#lp_generalid{
padding:5px 20px 20px 20px;
width:800px;
float:left;
}
#lp_generalid_right{
	float:left;
	width:280px;
	margin-left:20px;
	margin-top:20px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding-bottom:10px;
}

#lp_generalid p{
font-size:16px;
}
#lp_generalid input[type=text]{
	width:800px;
	height:30px; 
	color:#666; 
	font-size:20px; 
	padding:3px 4px;
}
#lp_generalid input[type=submit]{
	width:100px;
	height:30px; 
	color:#000;
	cursor:pointer; 
	font-size:20px; 
	padding:3px 4px;
}
#lp_generalid_right li{
	list-style:square;
	line-height:20px;
	list-style-position:inside;
	padding-left:10px;
}
#lp_generalid_right li span{
	font-size:16px;
	cursor:pointer;
}	
#lp_generalid p a{
text-decoration:none;
}
#content p{
	width:800px;
}
a{text-decoration:none;} 

.hndle {cursor:pointer; padding:7px 10px; font-size:20px;}

#lp_admin_generalid{
padding:5px 20px 20px 20px;
}
#lp_admin_generalid td{
padding:5px;
height:20px;
font-size: 14px;
}
#lp_admin_generalid input[type=text]{
	width:300px;
	height:30px;
	font-size:14px;
	color:#666;
}
#lp_admin_generalid p{
font-size:16px;
}
#lp_admin_generalid p a{
text-decoration:none;
}
.savesettings{
    margin-right: 12px;
    border: medium none;
    background: rgb(2, 103, 189) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    padding: 10px 13px 10px 15px;
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
}

.mybtn{
padding-bottom:30px !important;
border:1px solid grey !important;
color:white !important;
}

.myText{
width:760px !important;
}

.myLink{
text-decoration:none !important;
}

.myLabel{
color:#337ab7 !important;
font-size:14px !important;
}

.myLabel-head{
color:#0073aa !important;
font-size:22px !important;
}

.myAlert{
font-size:12px !important;
padding:5px !important;
}
